.add-list-button,
.add-card-button {
  height: 35px;
  padding: $spacing-tiny $spacing-medium;
  text-align: left;
}

.add-list-form {
  background-color: $grey-light;
  border-radius: $rounded-corners-base;
  min-width: 250px;
  padding: $spacing-tiny;
  width: 250px;

  input {
    display: block;
    padding: $spacing-tiny;
    width: 95%;

    &[type="text"] {
      background-color: $grey-lighter;
      border-bottom: solid $border-normal $grey-light;
      border-radius: $rounded-corners-tiny;
      font-size: $font-size-base;
      line-height: $line-height-base;
      margin-bottom: $spacing-tiny;
      padding: $spacing-tiny $spacing-tiny 0;
      transition: border .3s;
    }

    &:focus {
      border-bottom: solid $border-normal $grey;
    }
  }

  button {
    background-color: darken($turquoise, 10%);
    border-radius: $rounded-corners-tiny;
    color: $white;
    line-height: $line-height-base;
    padding: $spacing-tiny $spacing-medium;

    &:hover {
      background-color: darken($turquoise, 20%);
    }
  }

  a {
    color: darken($turquoise, 10%);
    font-size: $font-size-large;

    &:hover {
      color: darken($turquoise, 20%);
    }
  }
}

.add-list-button {
  background-color: darken($turquoise, 10%);
  border-radius: $rounded-corners-tiny;
  color: $white;
  font-size: $font-size-base;
  line-height: $line-height-base;
  min-width: 240px;
  width: 240px;

  &:hover {
    background-color: darken($turquoise, 20%);
  }
}

.add-card-button {
  background-color: $grey-lighter;
  border-radius: 0 0 $rounded-corners-base $rounded-corners-base;
  font-size: $font-size-small;
  margin-right: $spacing-medium;
  width: 250px;

  &:hover {
    background-color: $grey-lightest;
  }
}

.add-card-form {
  border-radius: $rounded-corners-base;
  margin: 0 auto;
  min-width: 234px;
  padding: $spacing-regular;
  width: 230px;

  textarea {
    border-radius: $rounded-corners-tiny;
    font-size: $font-size-base;
    height: 50px;
    margin-left: $spacing-tiny;
    padding: $spacing-regular;
    width: 90%;
  }

  button {
    background-color: darken($turquoise, 10%);
    border-radius: $rounded-corners-tiny;
    color: $white;
    line-height: $line-height-base;
    margin: $spacing-tiny;
    padding: $spacing-tiny $spacing-medium;

    &:hover {
      background-color: darken($turquoise, 20%);
    }
  }

  a {
    color: darken($turquoise, 10%);
    font-size: $font-size-display;
    margin: 0;
    padding-top: $spacing-regular;

    &:hover {
      color: darken($turquoise, 20%);
    }
  }
}

.list-area {
  display: flex;
}

.lists {
  align-items: flex-start;
  display: flex;
  padding: $spacing-regular;
}

.list {
  background-color: $grey-lighter;
  border-radius: $rounded-corners-base;
  box-shadow: 1px 1px 1px 1px darken($turquoise, 5%);
  display: flex;
  flex-direction: column;
  margin-right: $spacing-medium;
  min-height: 70px;
  min-width: 250px;
  padding: 0;
  position: relative; // to make dnd work
  width: 250px;

  .dndDraggingSource {
    display: none;
  }

  .dndPlaceholder {
    background-color: $grey-light;
    display: block;
    min-height: 40px;
  }
}

.cards {
  flex-grow: 2;
}

.card {
  background-color: $white;
  border-radius: $rounded-corners-tiny;
  box-shadow: 0 1px 1px 0 $grey;
  display: flex;
  justify-content: baseline;
  margin: $spacing-regular auto;
  padding: $spacing-regular;
  position: relative; // to make dnd work
  width: 85%;

  i {
    padding-top: $spacing-tiny/2;
    visibility: hidden;
  }

  &:hover {
    background-color: $grey-lightest;

    i {
      visibility: visible;
      color: $grey-light;
    }
  }

  p {
    flex-grow: 2;
    margin: 0;
    padding: 0;
  }
}

.list-header {
  display: flex;
  justify-content: baseline;
  padding: $spacing-regular;

  h3 {
    flex-grow: 2;
  }

  i {
    color: $grey;
    padding-top: $spacing-tiny/2;
  }
}

.list-menu {
  background-color: $white;
  box-shadow: 1px 1px 1px 1px darken($turquoise, 5%);
  left: 220px;
  padding: $spacing-medium;
  position: absolute;
  top: 30px;
  width: 200px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}

.list-menu-header {
  display: flex;
  justify-content: baseline;

  h4 {
    flex-grow: 2;
    text-align: center;
  }

  i:hover {
    color: $grey-dark;
  }
}
