html,
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  color: $grey-dark;
  font: $font-size-base $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  color: $white;
  font: $font-size-display $font-family-bold;
}

p {
  margin-bottom: $spacing-tiny;
}

input,
textarea,
button {
  display: inline-block;
  border: 0;
  box-shadow: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

footer {
  color: $grey-light;
  font-size: $font-size-small;
}

.browsehappy {
  margin: $spacing-regular 0;
  padding: $spacing-regular 0;
  background: #ccc;
  color: #000;
}
