.browsehappy {
  background: #ccc;
  color: #000;
  margin: $spacing-regular 0;
  padding: $spacing-regular 0;
}

html {
  height: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 0;
}

body {
  color: $grey-dark;
  font: $font-size-base $font-family-base;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

h1 {
  color: $white;
  font: $font-size-display $font-family-bold;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0 0 $spacing-medium;
}

input,
textarea,
button {
  appearance: none;
  border: 0;
  box-shadow: none;
  display: inline-block;

  &:focus {
    outline: none;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
}

.left-side {
  background-color: $grey-dark;
  border-right: $spacing-regular solid $grey;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: $spacing-large $spacing-regular;
  width: 160px;

  a {
    color: $grey-lighter;
  }
}

.right-side {
  background-color: $white;
  color: $grey-dark;
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: $spacing-large;
  width: 99%;
}

.experiment-area {
  background-color: $white;
  flex-grow: 2;
  padding: $spacing-regular;
}

.toc {
  list-style-type: none;
  margin: 0;
  padding: $spacing-large 0;

  li {
    padding-bottom: $spacing-tiny;
  }
}

.intro {
  margin-bottom: $spacing-regular;
  width: 70%;

  h2,
  p {
    margin-bottom: $spacing-tiny;
  }
}

.experiment-area {
  background-color: $turquoise;
  height: 90%;
  overflow: auto;

  h2 {
    color: $white;
    padding-left: $spacing-regular;
  }
}
