// Typography
$font-family-base:       'Roboto Regular', Helvetica, Arial, sans-serif;
$font-family-bold:       'Roboto Bold', Helvetica, Arial, sans-serif;
$font-size-small:        12px;
$font-size-base:         14px;
$font-size-large:        18px;
$font-size-display:      22px;
$line-height-base:       1.8em;

// Spacing
$spacing-tiny:           4px;
$spacing-regular:        8px;
$spacing-medium:         12px;
$spacing-large:          24px;

// Color
$white:                  #fff;
$grey-lightest:          #efefef;
$grey-lighter:           #e0e0e0;
$grey-light:             #bfbfbf;
$grey:                   #7f7f7f;
$grey-dark:              #404040;
$black:                  #000;
$red:                    #f7401c;

$blue-light:             #b8e1f2;
$turquoise:              #249aa7;
$lime-green:             #abd25e;
$yellow:                 #f8c830;
$red-orange:             #f1594a;

// Styling for UI Elements
$rounded-corners-tiny:   4px;
$rounded-corners-base:   8px;

$border-tiny:            1px;
$border-normal:          2px;
